---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 516c7ce9-0ecd-43f6-93ed-9becd889a8d7
    body:
      encoding: UTF-8
      string: '{"response":"6a3a6f04-2284-4707-bced-9d41aca04f69"}'
  recorded_at: Tue, 22 Apr 2014 16:32:18 GMT
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//contact-service/postal-address
    body:
      encoding: UTF-8
      string: '{"addressLine1":"FootCardigan Address","postalCode":"115-243"}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 6a3a6f04-2284-4707-bced-9d41aca04f69
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '40632'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - b525917a-3e28-4e23-9f4c-43c89bdd868d
    body:
      encoding: UTF-8
      string: '{"response":110}'
  recorded_at: Tue, 22 Apr 2014 16:32:19 GMT
[...]
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//contact-service/contact
    body:
      encoding: UTF-8
      string: '{"salutation":"Mr.","firstName":"FootCardigan","lastName":"Store","postAddressIds":{"DEF":110,"BIL":110,"DEL":110},"organisation":{"name":"FootCardigan
        Store"},"communication":{"emails":{"PRI":{"email":"micah_lowe@weissnatlittel.name"}}}}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 6789d470-3725-4a9c-80f5-093bbe82c80d
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '39338'
      Brightpearl-Requests-Remaining:
      - '198'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - a9de3148-7a9b-4690-b7a4-136dbe0fb6fa
    body:
      encoding: UTF-8
      string: '{"response":203}'
  recorded_at: Tue, 22 Apr 2014 16:32:20 GMT
recorded_with: VCR 2.9.0
