---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/mumoc/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"mumo.crls@gmail.com","password":"220502Camubrightpearl"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 3b69f754-2341-42d2-a605-a09f6eca1448
    body:
      encoding: UTF-8
      string: '{"response":"dc2fa86e-8709-4fe3-a5a5-03ff7d43b021"}'
  recorded_at: Wed, 09 Apr 2014 16:01:22 GMT
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/mumoc//contact-service/postal-address
    body:
      encoding: UTF-8
      string: '{"addressLine1":"FootCardigan Address","postalCode":"115-243"}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - dc2fa86e-8709-4fe3-a5a5-03ff7d43b021
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '55730'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 80258cec-6000-4d35-ae21-6cbcef0b7564
    body:
      encoding: UTF-8
      string: '{"response":154}'
  recorded_at: Wed, 09 Apr 2014 16:01:22 GMT
[...]
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/mumoc//contact-service/contact
    body:
      encoding: UTF-8
      string: '{"salutation":"Mr.","firstName":"FootCardigan","lastName":"Store","postAddressIds":{"DEF":154,"BIL":154,"DEL":154},"organisation":{"name":"FootCardigan
        Store"},"communication":{"emails":{"PRI":{"email":"test@testingmail.com"}}}}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 46a7f35e-b339-4915-aca2-d231d05fbe3c
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '54816'
      Brightpearl-Requests-Remaining:
      - '198'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 67734ca6-d5d3-4608-bbf7-c9e0dafb2363
    body:
      encoding: UTF-8
      string: '{"response":209}'
  recorded_at: Wed, 09 Apr 2014 16:01:23 GMT
recorded_with: VCR 2.9.0
