---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 0b32cc0c-2455-487e-87a9-c78c2d39010c
    body:
      encoding: UTF-8
      string: '{"response":"056e5595-77f2-4cca-93c6-8050ceb3782d"}'
  recorded_at: Wed, 23 Apr 2014 18:36:43 GMT
recorded_with: VCR 2.9.0
