---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//order-service/order/123/row
    body:
      encoding: UTF-8
      string: '{"productId":null,"quantity":{"magnitude":1},"rowValue":{"taxCode":"T","rowNet":{"currencyCode":"USD","value":10.0},"rowTax":{"currencyCode":"USD","value":0.0}}}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 75d9914e-1673-405b-92f7-6de5d4eadd10
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Brightpearl-Next-Throttle-Period:
      - '26552'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 2abd7d12-e935-4d41-bd57-ede96249a046
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"ORDC-003","message":"You have supplied an invalid
        order id: 123"},{"code":"ORDC-026","message":"You have not supplied a product
        name, which is required for all free text items."}]}'
  recorded_at: Wed, 23 Apr 2014 16:34:33 GMT
[...]
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//order-service/order/123/row
    body:
      encoding: UTF-8
      string: '{"productId":null,"quantity":{"magnitude":1},"rowValue":{"taxCode":"T","rowNet":{"currencyCode":"USD","value":10.0},"rowTax":{"currencyCode":"USD","value":0.0}}}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 75d9914e-1673-405b-92f7-6de5d4eadd10
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Brightpearl-Next-Throttle-Period:
      - '23696'
      Brightpearl-Requests-Remaining:
      - '195'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 3fece967-803b-4f24-b67c-57198108a5af
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"ORDC-003","message":"You have supplied an invalid
        order id: 123"},{"code":"ORDC-026","message":"You have not supplied a product
        name, which is required for all free text items."}]}'
  recorded_at: Wed, 23 Apr 2014 16:34:36 GMT
recorded_with: VCR 2.9.0
