---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 9e1dda29-6763-457e-90e5-6b205544bb71
    body:
      encoding: UTF-8
      string: '{"response":"bad21152-819d-4b7e-97f8-49a6aa442b9b"}'
  recorded_at: Tue, 22 Apr 2014 22:35:06 GMT
[...]
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - cffee76b-94aa-4511-b86e-588b3768a591
    body:
      encoding: UTF-8
      string: '{"response":"1a46dd6b-f909-4d56-8ac3-141112899dfe"}'
  recorded_at: Tue, 22 Apr 2014 22:35:09 GMT
recorded_with: VCR 2.9.0
