---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 0188dbaa-db7e-4b44-bcd7-3b8e00f35139
    body:
      encoding: UTF-8
      string: '{"response":"eb6e71a1-83eb-4989-ace2-c732f8773f8f"}'
  recorded_at: Wed, 23 Apr 2014 16:15:29 GMT
[...]
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - d7d01a99-b056-4ead-9c87-596952da6643
    body:
      encoding: UTF-8
      string: '{"response":"75d9914e-1673-405b-92f7-6de5d4eadd10"}'
  recorded_at: Wed, 23 Apr 2014 16:15:34 GMT
recorded_with: VCR 2.9.0
