---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 049c95c2-3fd9-4cbe-9028-5f79be2a0bc9
    body:
      encoding: UTF-8
      string: '{"response":"f4fa5760-db88-46d9-948a-6fadf369e842"}'
  recorded_at: Wed, 23 Apr 2014 18:36:38 GMT
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//contact-service/postal-address
    body:
      encoding: UTF-8
      string: '{"addressLine1":"FootCardigan Address","postalCode":"115-243"}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - f4fa5760-db88-46d9-948a-6fadf369e842
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '20341'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 3d593c08-1484-42db-9d70-53fd156fdf25
    body:
      encoding: UTF-8
      string: '{"response":112}'
  recorded_at: Wed, 23 Apr 2014 18:36:39 GMT
[...]
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//contact-service/contact
    body:
      encoding: UTF-8
      string: '{"salutation":"Mr.","firstName":"FootCardigan","lastName":"Store","postAddressIds":{"DEF":112,"BIL":112,"DEL":112},"organisation":{"name":"FootCardigan
        Store"},"communication":{"emails":{"PRI":{"email":"frieda@lemke.us"}}}}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 4ccc86d6-e76a-41b7-903d-0dc1e476b0e0
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '18771'
      Brightpearl-Requests-Remaining:
      - '198'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - e67eeb2b-30e0-4d4e-9e4d-2452abc43205
    body:
      encoding: UTF-8
      string: '{"response":205}'
  recorded_at: Wed, 23 Apr 2014 18:36:40 GMT
recorded_with: VCR 2.9.0
