---
http_interactions:
- request:
    method: post
    uri: https://ws-eu1.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"tom@footcardigan.com","password":"password"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 56cb8676-f055-44c2-a075-00a88b6a6b0d
    body:
      encoding: UTF-8
      string: '{"response":"4f979ef1-04fe-494f-8722-3071e51d3ff3"}'
  recorded_at: Mon, 30 Jun 2014 18:34:10 GMT
- request:
    method: post
    uri: https://ws-eu1.brightpearl.com/2.0.0/crowdint//accounting-service/sales-receipt
    body:
      encoding: UTF-8
      string: '{"orderId":86,"received":{"currency":"USD","value":25},"taxDate":"2014-06-30","bankAccountNominalCode":"1000"}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 4f979ef1-04fe-494f-8722-3071e51d3ff3
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '48615'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 17b45a28-7413-4d14-86cf-b592add9c789
    body:
      encoding: UTF-8
      string: '{"response":6}'
  recorded_at: Mon, 30 Jun 2014 18:34:12 GMT
recorded_with: VCR 2.9.2
