---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/mumoc/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"mumo.crls@gmail.com","password":"220502Camubrightpearl"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 4d359175-18df-4ced-a091-53b64216fd2d
    body:
      encoding: UTF-8
      string: '{"response":"277db2c6-2fa9-44b1-8c3e-6862d1c4d3ea"}'
  recorded_at: Wed, 09 Apr 2014 16:03:00 GMT
- request:
    method: post
    uri: https://ws-use.brightpearl.com/2.0.0/mumoc//contact-service/postal-address
    body:
      encoding: UTF-8
      string: '{"addressLine1":"FootCardigan Address","postalCode":"115-243"}'
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 277db2c6-2fa9-44b1-8c3e-6862d1c4d3ea
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '17202'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 9f20ceda-509d-4b63-990d-028488f337c3
    body:
      encoding: UTF-8
      string: '{"response":155}'
  recorded_at: Wed, 09 Apr 2014 16:03:01 GMT
recorded_with: VCR 2.9.0
