---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - d1b9e9b6-6dbe-4ed4-9e0a-e51c598bb36e
    body:
      encoding: UTF-8
      string: '{"response":"de2ffe41-b780-402c-9d5e-7ab53bc0355d"}'
  recorded_at: Tue, 08 Apr 2014 16:12:21 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/product/1010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - de2ffe41-b780-402c-9d5e-7ab53bc0355d
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '37380'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 2d955d65-4da5-4f7c-bc2a-f3456948226d
    body:
      encoding: UTF-8
      string: '{"response":[{"id":1010,"brandId":75,"productTypeId":1,"identity":{"sku":"SKUawwer","barcode":""},"productGroupId":2,"stock":{"stockTracked":true,"weight":{"magnitude":10.00}},"financialDetails":{"taxable":false,"taxCode":{"id":1,"code":"Z"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Crowd
        product","productCondition":"new","categories":[{"categoryCode":"295"}],"description":{"languageCode":"en","text":"\u003cp\u003eThis
        is the largeeeeee description!!!!!!!!\u003c/p\u003e","format":"HTML_FRAGMENT"},"shortDescription":{"languageCode":"en","text":"\u003cp\u003eThis
        is the short description\u003c/p\u003e","format":"HTML_FRAGMENT"}}],"composition":{"bundle":false},"variations":[{"optionId":1,"optionName":"Color","optionValueId":3,"optionValue":"Green"}],"warehouses":{"2":{"defaultLocationId":0,"reorderLevel":20,"reorderQuantity":0}},"nominalCodeStock":"1001"}]}'
  recorded_at: Tue, 08 Apr 2014 16:12:23 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/brightpearl-category/295
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 9678093b-ff70-4c29-ba32-316bcb6756d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '58483'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 0dea0e2c-701d-4cb8-af84-aeb37d650edc
    body:
      encoding: UTF-8
      string: '{"response":[{"id":305,"name":"Smallbatch + Wrap","parentId":0,"active":false,"createdOn":"2014-06-17T09:33:36.000+01:00","createdById":3,"updatedOn":"2014-06-17T09:33:36.000+01:00","updatedById":0,"description":{"languageCode":"en","format":"PLAINTEXT"}}]}'
  recorded_at: Thu, 02 Oct 2014 00:30:23 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/product-price/1010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - de2ffe41-b780-402c-9d5e-7ab53bc0355d
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '36725'
      Brightpearl-Requests-Remaining:
      - '198'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 5a76a293-9636-427f-8a4b-734c7195e42e
    body:
      encoding: UTF-8
      string: '{"response":[{"productId":1010,"priceLists":[{"priceListId":1,"currencyCode":"USD","currencyId":1,"quantityPrice":{"1":"1000.0000"}},{"priceListId":2,"currencyCode":"USD","currencyId":1,"quantityPrice":{}}]}]}'
  recorded_at: Tue, 08 Apr 2014 16:12:23 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/brand/75
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - de2ffe41-b780-402c-9d5e-7ab53bc0355d
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '36227'
      Brightpearl-Requests-Remaining:
      - '197'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 1f87f524-be1a-4dc9-8001-6a18709f56d3
    body:
      encoding: UTF-8
      string: '{"response":[{"id":75,"name":"Rails","description":""}]}'
  recorded_at: Tue, 08 Apr 2014 16:12:24 GMT
recorded_with: VCR 2.9.0
