---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 810c0ff5-aa79-4254-862d-3447c9389c1e
    body:
      encoding: UTF-8
      string: '{"response":"22261eaf-f60a-4f37-85ef-c87e908a5b81"}'
  recorded_at: Wed, 02 Apr 2014 23:23:00 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/product/1010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 22261eaf-f60a-4f37-85ef-c87e908a5b81
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '58759'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - d5402525-7ccb-4861-99a7-2d52e47c5fdd
    body:
      encoding: UTF-8
      string: '{"response":[{"id":1010,"brandId":75,"productTypeId":1,"identity":{"sku":"SKUawwer","barcode":""},"stock":{"stockTracked":true,"weight":{"magnitude":10.00}},"financialDetails":{"taxable":false,"taxCode":{"id":1,"code":"Z"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Crowd
        product","productCondition":"new","categories":[{"categoryCode":"295"}],"description":{"languageCode":"en","text":"\u003cp\u003eThis
        is the largeeeeee description!!!!!!!!\u003c/p\u003e","format":"HTML_FRAGMENT"},"shortDescription":{"languageCode":"en","text":"\u003cp\u003eThis
        is the short description\u003c/p\u003e","format":"HTML_FRAGMENT"}}],"composition":{"bundle":false},"warehouses":{"2":{"defaultLocationId":0,"reorderLevel":20,"reorderQuantity":0}},"nominalCodeStock":"1001"}]}'
  recorded_at: Wed, 02 Apr 2014 23:23:01 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/product-price/1010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 22261eaf-f60a-4f37-85ef-c87e908a5b81
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '58082'
      Brightpearl-Requests-Remaining:
      - '198'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 2b46cde9-4784-43c2-9959-209ebc2a309e
    body:
      encoding: UTF-8
      string: '{"response":[{"productId":1010,"priceLists":[{"priceListId":1,"currencyCode":"USD","currencyId":1,"quantityPrice":{"1":"100.0000"}},{"priceListId":2,"currencyCode":"USD","currencyId":1,"quantityPrice":{"1":"1000.0000"}}]}]}'
  recorded_at: Wed, 02 Apr 2014 23:23:02 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/brand/75
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - 22261eaf-f60a-4f37-85ef-c87e908a5b81
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '57641'
      Brightpearl-Requests-Remaining:
      - '197'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - daa48709-b2d5-44c4-9415-74f98aa52e16
    body:
      encoding: UTF-8
      string: '{"response":[{"id":75,"name":"Rails","description":""}]}'
  recorded_at: Wed, 02 Apr 2014 23:23:02 GMT
recorded_with: VCR 2.9.0
