---
http_interactions:
- request:
    method: post
    uri: https://ws-use.brightpearl.com/crowdint/authorise
    body:
      encoding: UTF-8
      string: '{"apiAccountCredentials":{"emailAddress":"steven@crowdint.com","password":"Nagarrab8"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 20b9ef51-7fc1-4e61-b2f5-7f07d4e8127e
    body:
      encoding: UTF-8
      string: '{"response":"c8407c49-f5ac-410c-898b-5354142fcc99"}'
  recorded_at: Wed, 02 Apr 2014 18:45:20 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/product/1010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - c8407c49-f5ac-410c-898b-5354142fcc99
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '35389'
      Brightpearl-Requests-Remaining:
      - '199'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 152e16db-4ee4-415e-9598-5d73f00b82cd
    body:
      encoding: UTF-8
      string: '{"response":[{"id":1010,"brandId":75,"productTypeId":1,"identity":{"sku":"SKUawwer","barcode":""},"stock":{"stockTracked":true,"weight":{"magnitude":10.00}},"financialDetails":{"taxable":false,"taxCode":{"id":1,"code":"Z"}},"salesChannels":[{"salesChannelName":"Brightpearl","productName":"Crowd
        product","productCondition":"new","categories":[{"categoryCode":"295"}],"description":{"languageCode":"en","text":"\u003cp\u003eThis
        is the largeeeeee description!!!!!!!!\u003c/p\u003e","format":"HTML_FRAGMENT"},"shortDescription":{"languageCode":"en","text":"\u003cp\u003eThis
        is the short description\u003c/p\u003e","format":"HTML_FRAGMENT"}}],"composition":{"bundle":false},"warehouses":{"2":{"defaultLocationId":0,"reorderLevel":20,"reorderQuantity":0}},"nominalCodeStock":"1001"}]}'
  recorded_at: Wed, 02 Apr 2014 18:45:24 GMT
- request:
    method: get
    uri: https://ws-use.brightpearl.com/2.0.0/crowdint//product-service/product-price/1010
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Brightpearl-Auth:
      - c8407c49-f5ac-410c-898b-5354142fcc99
  response:
    status:
      code: 200
      message: OK
    headers:
      Brightpearl-Next-Throttle-Period:
      - '34121'
      Brightpearl-Requests-Remaining:
      - '198'
      Content-Type:
      - application/json;charset=UTF-8
      Ruid:
      - 8b1a4033-34fb-42d7-ac74-80935fb8d9ee
    body:
      encoding: UTF-8
      string: '{"response":[{"productId":1010,"priceLists":[{"priceListId":1,"currencyCode":"USD","currencyId":1,"quantityPrice":{"1":"1000.0000"}},{"priceListId":2,"currencyCode":"USD","currencyId":1,"quantityPrice":{}}]}]}'
  recorded_at: Wed, 02 Apr 2014 18:45:26 GMT
recorded_with: VCR 2.9.0
